
# Backend Server port
PORT=

# Database credentials
DATABASE_USERS_URL=
DATABASE_REKLAMACIJE_URL=
DATABASE_OTPAD_URL=
DATABASE_ODSUSTVA_URL=
DATABASE_NABAVKE_URL=


# JWT secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# OAUTH providers credentials

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

