# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore Prisma client
prisma_clients/

# Ignore Logs
logs/
*.log

# Build directories
dist/
build/
coverage/

# Public and static files
uploads/
public/